<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class='<%= "#{resource.data.layout} #{resource.data.page_class}" %>' >
    <%= render "navbar", metadata: site.metadata, resource: resource %>

    <div class="container-with-sidebar">
      <main>
        <%= content %>
      </main>

      <%# if resource.data.layout == "page" %>
        <%= render "sidebar", metadata: site.metadata, resource: resource %>
      <%# end %>
    </div>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
