<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) || site.metadata.title %>
<title><%= resource_title %></title>

<meta name="description" content="<%= metadata.description %>" />

<meta property="og:url" content="https://www.richer-text.com">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= resource_title %>">
<meta property="og:description" content="<%= metadata.description %>">
<meta property="og:image" content="https://www.richer-text.com/images/open-graph.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="richer-text.com">
<meta property="twitter:url" content="https://www.richer-text.com">
<meta name="twitter:title" content="<%= resource_title %>">
<meta name="twitter:description" content="<%= metadata.description %>">
<meta name="twitter:image" content="https://www.richer-text.com/images/open-graph.png">

<link rel="stylesheet" data-turbo-track="reload" href="<%= asset_path :css %>" />
<script data-turbo-track="reload" src="<%= asset_path :js %>" defer></script>

<%= live_reload_dev_js %>

<script>
  // On page load or when changing themes, best to add inline in `head` to avoid FOUC
  if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.documentElement.classList.add('dark')
  } else {
    document.documentElement.classList.remove('dark')
  }
</script>
